<!DOCTYPE html>
<html ng-app="<%= settings.name %>" ng-controller="AppController">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta config.name="viewport" content="width=device-width">
    <title><%= settings.name %></title>

    <!-- build:css css/<%= settings.name %>.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <link rel="stylesheet" href="css/app.css"/>
    <!-- endbuild -->
  </head>
  <body>

    <section class="message">
        {{ message }}
    </section>

    <!-- build:js js/<%= settings.name %>.js -->
    <!-- bower:js -->
    <!-- endbower -->
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/controllers/AppController.js"></script>
    <!-- endbuild -->

  </body>
</html>
